version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/src/backend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      python-packages:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/src/frontend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      npm-packages:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/src/backend"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/src/frontend"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
