apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vuln-prioritizer

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - postgres-statefulset.yaml
  - redis-deployment.yaml
  - backend-deployment.yaml
  - frontend-deployment.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: vuln-prioritizer
  app.kubernetes.io/part-of: security-tools
